{% extends "base.html" %}

{% block titulo %}Usuários{% endblock %}

{% block principal %}
<head>
    <style>
        /* Estilo para a linha separadora das colunas da tabela */
        .colorBar th {
            background-color: #2b9758; /* Cor verde (#2b9758) - substitua pela cor desejada */
            color: white; /* Para garantir que o texto seja visível */
        }
    </style>
</head>
<div class="container d-flex flex-column justify-content-center align-items-center my-4">
    <h1 class="display-6 m-0">
        <b>Usuários</b>
    </h1>
</div>
<hr>
<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <table class="table table-striped table-sm primeira-centralizada segunda-centralizada ultima-centralizada colorBar">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Administrador</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios: %}
            <tr>
                <td>{{ u.nome }}</td>
                <td>{{ u.email }}</td>
                <td>{{ "Sim" if u.admin else "Não" }}</td>
                <td>
                    <a href="/usuario/alterar/{{u.id}}" class="btn btn-secondary
btn-sm">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="/usuario/excluir/{{u.id}}" class="btn btn-danger
btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        </div>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
