{% extends "base.html" %}

{% block titulo %}Histórico{% endblock %}

{% block principal %}
<body style="min-width: 372px;
    ">
    <main>
        <hr>
        <h3>Histórico</h3>
        <hr>
    </div>
    <div class=" container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/img/coxinha.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Coxinha</h5>
                        <p class="card-text">
                            Pedido Concluido - Nº 46
                        Salgado
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <b>Quantidade: 5</b>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form class="d-block">
                    <button class="btn customColorBar">
                        Pedir Novamente
                    </button>
                </form>
                <hr>
                <small class="text-success">
                    <b>Data de Compra: 20/20/2000</b>
                </small>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/img/coxinha.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Coxinha</h5>
                        <p class="card-text">
                            Pedido Concluido - Nº 46
                        Salgado
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <b>Quantidade: 5</b>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form class="d-block">
                    <button class="btn customColorBar">
                        Pedir Novamente
                    </button>
                </form>
                <hr>
                <small class="text-success">
                    <b>Data de Compra: 20/20/2000</b>
                </small>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/img/coxinha.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Coxinha</h5>
                        <p class="card-text">
                            Pedido Concluido - Nº 46
                        Salgado
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <b>Quantidade: 5</b>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form class="d-block">
                    <button class="btn customColorBar">
                        Pedir Novamente
                    </button>
                </form>
                <hr>
                <small class="text-success">
                    <b>Data de Compra: 20/20/2000</b>
                </small>
            </div>
        </div>
    </div>
</div>
</main>
</body>
{% endblock %}
